body{
    background: #002366;
    font-family: "Roboto", sans-serif;
    padding: 100px;
}
.password-generator-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.heading{
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    color: lightgreen;
}
.password-input-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.password-input{
    height: 50px;
    width: 50%;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    outline: none;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}
.generate-pasword , .copy-password{
    height: 70px;
    width: 20%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    background: lightgreen;
    font-weight: 400;
    margin-right: 20px;
    cursor: pointer;
}
